<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type"
        content="text/html; charset=UTF-8">
    <title><%= name %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

<body class="container">
    <div role="main" id="Box">
        <div id="contentsHeader">
            <h1><%= name %></h1>
            <div id="contentsCancel"><a href="/hanternote"><button type="button" class="btn-close" aria-label="Close"></button></a></div>
        </div>
        <div id="contentsBox">
            <div id="contentsText">
                <p>子機番号：<%= extension_unit_id %></p>
                <p>捕獲した獣の種類：<%= result %></p>
                <p>最初の更新：<%= start %></p>
                <p>最後の更新：<%= last %></p>
            </div>
            <div id="contentsMap">
                <p>位置情報：</p>
                <!-- map -->
                <div id="contentsCanvas"></div>
            </div>
            <div id="contentsMemo">
                <p>メモ：</p>
                <p><%= memo %></p>
            </div>
        </div>
        <div id="ti_editButton"><a href="/hanternote/edit/<%= hanternote_id %>"><button type="button" class="btn btn-primary">編集</button></a></div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>